<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8"></meta>
		<title>Inicio</title>
		
		<script type="text/javascript"
				src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		<link rel="style" href="src/main/webapp/style.css">
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="//code.jquery.com/jquery-1.11.1.min.js">
		</script>
		
	</head>

	<body>
		
		<style>
			.navbar {
		   		border-radius: 0px;
			}
			.jumbotron {
  				background-image: url("https://images.unsplash.com/photo-1508020963102-c6c723be5764?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
 				background-position: center;
  				background-repeat: no-repeat;
  				background-size: cover;
  				height: 350px;}
		</style>
		
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<div style="color: white;" class="jumbotron">
 			 	<h1>PET HAREM</h1>
  				<p>¡El paraiso de las mascotas!</p>
  				<p><a class="btn btn-primary btn-lg" href="#" role="button">Registrarse</a></p>
			</div>
    		
    		
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>