<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8"></meta>
		<title>Inicio</title>
		
		<script type="text/javascript"
				src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		<link rel="style" href="src/main/webapp/style.css">
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="//code.jquery.com/jquery-1.11.1.min.js">
		</script>
		
	</head>

	<body>
		
		<style>
			.navbar {
		   		border-radius: 0px;
			}
			.jumbotron {
  				background-image: url("https://scontent.flim25-1.fna.fbcdn.net/v/t39.30808-6/250079790_4868656176499274_8231232328085131710_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=grIHkPVK3lIAX-e0GjX&_nc_ht=scontent.flim25-1.fna&oh=5f20272ece946bd97eaea42d94ff18ce&oe=6180AE1D");
 				background-position: center;
  				background-repeat: no-repeat;
  				background-size: cover;
  				height: 350px;}
		</style>
		
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<div style="color: white;" class="jumbotron">
 			 	<h1>PET HAREM</h1>
  				<p>¡El paraiso de las mascotas!</p>
  				<p><a class="btn btn-primary btn-lg" href="#" role="button">Registrarse</a></p>
			</div>
    		
    		
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>
